/* Main Stylesheet | Mukil Elango */

html {
  overflow-y: hidden !important; 
  background: rgb(255, 255, 255);
}
[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){
    display:none !important; /*Fallback style incase MD stylsheet fails to load*/
}
::selection {
  background-color: #b3d4fc;
  text-shadow: none;
}
body {
  font-family: RobotoDraft, sans-serif;
  overflow: hidden;
  background: white;
}

a { text-decoration: none !important; }
figure { margin: 0; }
pre { overflow-x: auto;}

main {
  width: 90vw;
  margin: 5vw auto;  
  position: relative;
}
footer {
  margin-top: 5vw;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
  padding: 5vw;
}
footer a{
  color: inherit !important;
  text-decoration: none !important;
}
.foot-right {
  display: flex;
}
.foot-right a {
  width: 32px;
  height: 32px;
  padding: 4px;
  fill: #757575;
  background: #E0E0E0;
  border-radius: 50%;
  margin: 8px 16px 8px 0;
}
.foot-right a:nth-last-child() {
  margin: 8px 0;
}
.foot-border {
  
}
.home {      
  opacity: 0.67;
  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
  font-family: 'Product Sans';
}
.md-nav-bar {
  border: 0px !important;
}
md-nav-ink-bar { bottom: -8px; }
md-nav-bar .md-button._md-nav-button.md-unselected { color: inherit !important; }
.banner {
  padding: 8vw 4vw;
  margin: 3vw 0 8vw 0;
  user-select: none;
  letter-spacing: -0.04em;
  position: relative;
  font-family: 'Product Sans';
  font-weight: 400;
}
.banner-mini {
  letter-spacing: -0.03em;
  padding: 8vw 4vw;
  opacity: 1;
}
md-grid-tile {
  outline: none !important;
  user-select: none;
  cursor: pointer;
}
md-grid-tile:hover {
  opacity: 0.87;
  /* box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12); */
  z-index: 10;
  transition: all .3s ease-in;
}
tile , image-tile {
  width: 100%;
  height: 100%;
}
.tile-wrap {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
tile-header {
  top: 0;
  left: 0 ; 
  position: absolute;
  width: 100%;
  font-size: 20px;
  padding: 16px;
  box-sizing: border-box;
  z-index: 1;
  opacity: 1;
}
md-grid-list.ng-hide-add , md-grid-list.ng-hide-remove {
  transition: all .3s cubic-bezier(0.4, 0.0, 1, 1);
}
md-grid-list.ng-hide {
  top: 48px;
  opacity: 0;
}
tile-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;      
  width: 100%;
  box-sizing: border-box;
  padding: 10px 16px;
  align-items: center;
}
/*.image-tile figure {
  background-image: linear-gradient(to bottom,rgba(0,0,0,.6) 0,rgba(0,0,0,.52) 20%,transparent 60%,transparent 70%,rgba(0,0,0,.52) 92%,rgba(0,0,0,.6) 99%);
}*/
.tile-title {
  font-size: 32px;
  letter-spacing: -1px;
}
.adj {
  position: relative;
  height: 50px;
  opacity: 0.77;
  letter-spacing: -0.01em;
}
.adj-mini {
  position: relative;
  opacity: 0.67;
  letter-spacing: -0.01em;
}
.scrolldef {
  opacity: 1;
  position:absolute;
  top:0;
  left:0;
  right:0;
  margin-left: 6px;
  letter-spacing: -0.02em;
}
.scrolldef.ng-enter, .scrolldef.ng-leave {
  transition:0.3s ease-in-out all;
}
.scrolldef.ng-enter {
  top:25px;
  opacity: 0;
}
.scrolldef.ng-enter-active {
  top:0px;
}
.scrolldef.ng-leave {
  top:0px;
}
.scrolldef.ng-leave-active {
  top:-25px;
  opacity: 0;
}
.fade-down {
  animation: fade-down 0.5s cubic-bezier(0.4, 0.0, 1, 1) forwards;
}
.fade-up {
  animation: fade-up 0.5s cubic-bezier(0.0, 0.0, 0.2, 1) forwards;
}
strong, b {
  font-weight: 500;
}
@keyframes fade-down {
  from {
    opacity: 1;
    top: 0px;
  }
  to {
    opacity: 0;
    top: 100px;
  }
}
@keyframes fade-up {
  from {
    opacity: 0;
    top: 100px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

/* Page */
.article {
  max-width: 760px;
  width: 80%;
  min-width: 320px;
  margin: 0px auto;
  opacity: 0.87;
  font-size: 16px !important;
}

.article p {
  margin: 1rem 0;
}

.sharebtn {
  position: absolute;
  bottom: -28px;
  right: calc(2vw + 16px);
}

/* Assistant conversation */
.assist-toast .md-toast-content {
  background: #1E88E5 !important;
  border-radius: 0 24px 24px 24px !important;
}

/*Certificates Page*/
.cert md-grid-tile:hover {
  box-shadow: none !important;
}

.cert md-grid-tile-footer {
  display: none;
  padding: 0 16px;
  background: rgba(0,0,0,0.30);
  height: auto;
}
.cert md-grid-tile:hover md-grid-tile-footer {
  display: flex !important;
}


/* Media Queries adapted from https://gist.github.com/eyecatchup/9e847b05f15efccc1a29  */
/* Material Design Adaptive Breakpoints */

/* mobile-small */
@media all and (min-width: 0) and (max-width: 360px) and (orientation: portrait) { 
  .tile-wrap {
    background-position: 50% 50% !important;
    background-size: 125px !important;
  }  
  main {
    width: 100%;
  }
  .adj {
    margin: 16px 0 32px 0;
    font-size: 36px !important;
    line-height: 1em;
  }
  .adj-mini {
    margin: 8px 0;
    font-size: 24px;
    line-height: 24px;
  }
  .banner {
    font-size: 96px;
    line-height: 1em;
  }
  .banner-mini {
    font-size: 45px;
    line-height: 45px;
  }
  .banner .md-headline {
    font-size: 16px;
  }
}

/* mobile-large */
@media all and (min-width: 361px) and (orientation: portrait) { 
  .tile-wrap {
    background-position: 50% 50% !important;
    background-size: 125px !important;
  }
  main {
    width: 100%;
  }
  .adj {
    margin: 16px 0 32px 0;
    font-size: 36px !important;
    line-height: 1em;
  }
  .adj-mini {
    margin: 8px 0;
    font-size: 24px;
    line-height: 24px;
  }
  .banner .md-display-4 {
    font-size: 96px;
    line-height: 1em;
  }
  .banner-mini {
    font-size: 45px;
    line-height: 45px;
  }
  .banner .md-headline {
    font-size: 16px;
  }
}

/* mobile-small-landscape */
@media all and (min-width: 0) and (max-width: 480px) and (orientation: landscape) {}

/* mobile-large-landscape */
@media all and (min-width: 481px) and (orientation: landscape) { }

/* tablet-small-landscape */
@media all and (min-width: 600px) and (max-width: 960px) and (orientation: landscape) {
.tile-wrap {
    background-position: 50% 50% !important;
    background-size: 125px !important;
  }
}

/* tablet-large-landscape */
@media all and (min-width: 961px) and (orientation: landscape) { }

/* tablet-small */
@media all and (min-width: 600px) and (orientation: portrait) {
  .tile-wrap {
    background-position: 50% 50% !important;
    background-size: 125px !important;
  }
}

/* tablet-large */
@media all and (min-width: 601px) and (max-width: 840px) and (orientation : portrait) {
}

/* desktop-x-small-landscape */
@media all and (min-width: 0) and (max-width: 480px) and (orientation: landscape) { }

/* desktop-x-small */
@media all and (min-width: 0) and (max-width: 480px) and (max-aspect-ratio: 4/3) { }

/* desktop-small-landscape */
@media all and (min-width: 481px) and (max-width: 840px) and (orientation: landscape) { }

/* desktop-small */
@media all and (min-width: 481px) and (max-width: 840px) and (max-aspect-ratio: 4/3) { }

/* desktop-medium-landscape */
@media all and (min-width: 841px) and (max-width: 1280px) and (orientation: landscape) { }

/* desktop-medium */
@media all and (min-width: 841px) and (max-width: 1280px) and (max-aspect-ratio: 4/3) { }

/* desktop-large */
@media all and (min-width: 1281px) and (max-width: 1600px) { }

/* desktop-xlarge */
@media all and (min-width: 1601px) and (max-width: 1920px) { }