---
layout: page
title: Contact
permalink: /contact/
---

<div layout="column" layout-gt-xs="row" layout-align="center center" md-colors="{background: 'grey-800'}" style="margin:0 0 32px 0; height: 400px; padding: 32px;">
	<div flex=50 layout="row" layout-align="center center"> <div><i class="material-icons" style="font-size: 144px;">mail_outline</i></div></div>
	<div layout="column" layout-align="flex-start center" flex=50>
		<h2 class="md-display-1">Want to say a Hi? Or talk about Space exploration?</h2>
		<h3 class="md-headline" style="padding: 16px 0; opacity: 0.87">Mail me at  <a href="mailto:mukilane@gmail.com" style="color: #eee; font-family: monospace;">mukilane@gmail.com</a></h3>
	</div>
</div>

<div layout="column" layout-gt-xs="row" layout-align="center center">
	<div layout="column" layout-align="space-around center">
		<md-list>
			<a href="https://plus.google.com/+MukilElango" target="_blank" rel="noopener">
				<md-list-item class="md-3-line">
          			<div class="md-avatar" md-colors="{background: 'red-600'}">{% include icon-gplus.svg %}</div>
		          		<div class="md-list-item-text">
			            	<h3>Google+</h3>
			            	<p>+MukilElango</p>
		          		</div>
	        	</md-list-item>
	        </a>	
	        <a href="https://facebook.com/mukilane" target="_blank" rel="noopener">
	        	<md-list-item class="md-3-line">
          			<div class="md-avatar" md-colors="{background: 'indigo-500'}">{% include icon-facebook.svg %}</div>
		          		<div class="md-list-item-text">
			            	<h3>Facebook</h3>
			            	<p>mukilane</p>
		          		</div>
	        	</md-list-item>
	        </a>	
	        <a href="https://github.com/mukilane" target="_blank" rel="noopener">
	        	<md-list-item class="md-3-line">
          			<div class="md-avatar" md-colors="{background: 'grey-700'}">{% include icon-github.svg %}</div>
		          		<div class="md-list-item-text">
			            	<h3>Github</h3>
			            	<p>@mukilane</p>
		          		</div>
	        	</md-list-item>
	        </a>	
		</md-list>
	</div>
	<div layout="column" layout-align="space-around center">
		<md-list>
			<a href="https://twitter.com/mukilane" target="_blank" rel="noopener">
				<md-list-item class="md-3-line">
          			<div class="md-avatar" md-colors="{background: 'blue-500'}">{% include icon-twitter.svg %}</div>
		          		<div class="md-list-item-text">
			            	<h3>Twitter</h3>
			            	<p>@mukilane</p>
		          		</div>
	        	</md-list-item>
	        </a>	
	        <a href="https://linkedin.com/in/mukilane" target="_blank" rel="noopener">
	        	<md-list-item class="md-3-line">
          			<div class="md-avatar" md-colors="{background: 'indigo-700'}">{% include icon-linkedin.svg %}</div>
		          		<div class="md-list-item-text">
			            	<h3>Linkedin</h3>
			            	<p>in/mukilane</p>
		          		</div>
	        	</md-list-item>
	        </a>	
	        <a href="https://codepen.com/mukilane" target="_blank" rel="noopener">
	        	<md-list-item class="md-3-line">
          			<div class="md-avatar" md-colors="{background: 'grey-900'}">{% include icon-codepen.svg %}</div>
		          		<div class="md-list-item-text">
			            	<h3>Codepen</h3>
			            	<p>mukilane</p>
		          		</div>
	        	</md-list-item>
	        </a>	
		</md-list>
	</div>
</div>
<style type="text/css">
	.md-avatar {
		fill: white !important;
	}
	.md-list-item-text {
		margin: 12px 0 !important;
	}
	.md-list-item-text h3 {
		color: rgba(0,0,0,0.67);
		font-size: 24px !important;
	}
	.md-avatar {
		width: 48px !important;
		height: 48px !important;
	}
	a {
		text-decoration: none !important;
	}
</style>