---
layout: page
title: Contact
permalink: /contact/
color: grey-900
---

<div layout="column" layout-gt-xs="row" layout-align="center center">
	<div layout="column" layout-align="space-around center">
		<md-list>
			<md-list-item class="md-3-line">
          		<div class="md-avatar" md-colors="{background: 'red-600'}">{% include icon-gplus.svg %}</div>
		          	<div class="md-list-item-text">
			            <h3>Google+</h3>
			            <p>+MukilElango</p>
		          	</div>
	        </md-list-item>
	        <md-list-item class="md-3-line">
          		<div class="md-avatar" md-colors="{background: 'indigo-500'}">{% include icon-facebook.svg %}</div>
		          	<div class="md-list-item-text">
			            <h3>Facebook</h3>
			            <p>mukilane</p>
		          	</div>
	        </md-list-item>
	        <md-list-item class="md-3-line">
          		<div class="md-avatar" md-colors="{background: 'grey-700'}">{% include icon-github.svg %}</div>
		          	<div class="md-list-item-text">
			            <h3>Github</h3>
			            <p>@mukilane</p>
		          	</div>
	        </md-list-item>
		</md-list>
	</div>
	<div layout="column" layout-align="space-around center">
		<md-list>
			<md-list-item class="md-3-line">
          		<div class="md-avatar" md-colors="{background: 'blue-500'}">{% include icon-twitter.svg %}</div>
		          	<div class="md-list-item-text">
			            <h3>Twitter</h3>
			            <p>@mukilane</p>
		          	</div>
	        </md-list-item>
	        <md-list-item class="md-3-line">
          		<div class="md-avatar" md-colors="{background: 'indigo-700'}">{% include icon-linkedin.svg %}</div>
		          	<div class="md-list-item-text">
			            <h3>Linkedin</h3>
			            <p>in/mukilane</p>
		          	</div>
	        </md-list-item>
	        <md-list-item class="md-3-line">
          		<div class="md-avatar" md-colors="{background: 'grey-900'}">{% include icon-codepen.svg %}</div>
		          	<div class="md-list-item-text">
			            <h3>Codepen</h3>
			            <p>mukilane</p>
		          	</div>
	        </md-list-item>
		</md-list>
	</div>
</div>
<style type="text/css">
	.md-avatar {
		fill: white !important;
	}
	.md-list-item-text {
		margin: 12px 0 !important;
	}
	.md-list-item-text h3 {
		font-size: 24px !important;
	}
	.md-avatar {
		width: 48px !important;
		height: 48px !important;
	}
</style>