---
layout: page
title: Projects
permalink: /portfolio/
---
<md-grid-list md-cols="1" md-cols-sm="2" md-cols-gt-sm="4" md-cols-gt-md="6"
    md-cols-gt-lg="8" md-row-height-gt-md="1:1" md-row-height="1:1"
    md-gutter="0px">
    <md-grid-tile md-rowspan="2" md-colspan="4" md-colspan-sm="1" md-colspan-xs="1" md-rowspan-sm="1" md-rowspan-xs="1" class="image-tile" md-colors="{background: 'deep-purple-600'}" md-ink-ripple="true" ng-click="go('https://scoutingeverywhere.blogspot.com');">    
        <tile-header tag="Learn more about me">
        Scouting Everywhere
        </tile-header>
        <tile-footer>AngularJS</tile-footer>    
    </md-grid-tile>

    <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" md-rowspan-sm="1" md-rowspan-xs="1" class="image-tile" md-colors="{background: 'grey-800'}" md-ink-ripple="true" ng-click="go('/projects/pomodoro')">
            <tile-header tag="Learn more about me">
            Pomodoro Clock
            </tile-header>
            <tile-footer>AngularJS</tile-footer>
    </md-grid-tile>

    <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" md-rowspan-sm="1" md-rowspan-xs="1" class="image-tile" md-colors="{background: 'indigo-400'}" md-ink-ripple="true" ng-click="go('/projects/calculator');">
            <tile-header tag="Learn more about me">
            Calculator
            </tile-header>
            <tile-footer>AngularJS</tile-footer>
    </md-grid-tile>

    <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" md-rowspan-sm="1" md-rowspan-xs="1" class="image-tile" md-colors="{background: 'blue-grey-500'}" md-ink-ripple="true" ng-click="go('/projects/simongame');">
            <tile-header tag="Learn more about me">
            Simon Game
            </tile-header>
            <tile-footer>AngularJS</tile-footer>
    </md-grid-tile>

    <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" md-rowspan-sm="1" md-rowspan-xs="1" class="image-tile" md-colors="{background: 'indigo-A200'}" md-ink-ripple="true" ng-click="go('/projects/tictactoe');"> 
            <tile-header tag="Learn more about me">
            Tic Tac Toe
            </tile-header>
            <tile-footer>AngularJS</tile-footer>
    </md-grid-tile>

    <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" md-rowspan-sm="1" md-rowspan-xs="1" class="image-tile" md-colors="{background: 'blue-grey-600'}" md-ink-ripple="true" ng-click="go('/projects/weather');">
            <tile-header tag="Learn more about me">
            What's the weather ?
            </tile-header>
            <tile-footer>AngularJS</tile-footer>
    </md-grid-tile>

    <md-grid-tile md-rowspan="1" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" md-rowspan-sm="1" md-rowspan-xs="1" class="image-tile" md-colors="{background: 'grey-300'}" md-ink-ripple="true" ng-click="go('/projects/quoter');">
            <tile-header tag="Learn more about me">
            Quote Machine
            </tile-header>
            <tile-footer>AngularJS</tile-footer>
    </md-grid-tile>

    <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" md-rowspan-sm="1" md-rowspan-xs="1" class="image-tile" md-colors="{background: 'cyan-700'}" md-ink-ripple="true" ng-click="go('/projects/twitchstatus');">
            <tile-header tag="Learn more about me">
            Twitch Status Viewer
            </tile-header>
            <tile-footer>AngularJS</tile-footer>
    </md-grid-tile>

    <md-grid-tile md-rowspan="1" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" md-rowspan-sm="1" md-rowspan-xs="1" class="image-tile" md-colors="{background: 'indigo-600'}" md-ink-ripple="true" ng-click="go('/projects/wikiviewer');">
            <tile-header tag="Learn more about me">
            Wiki Viewer
            </tile-header>
            <tile-footer>AngularJS</tile-footer>
    </md-grid-tile>
    
</md-grid-list>