<!-- Firebase-->

<!-- Using only Database and Storage -->
<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-storage.js"></script>
<!--<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-auth.js"></script>-->
<!--<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-messaging.js"></script>-->

<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyD8Jyc_TJwBwAwmkN8ETzUXKPWLiXGsEn0",
    databaseURL: "https://mukil-elango.firebaseio.com",
    storageBucket: "mukil-elango.appspot.com"
  };
  firebase.initializeApp(config);
</script>