<!-- Firebase -->
<!-- <script src="https://www.gstatic.com/firebasejs/{{site.firebase_version}}/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/{{site.firebase_version}}/firebase-firestore.js"></script> -->


<!-- <script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyD8Jyc_TJwBwAwmkN8ETzUXKPWLiXGsEn0",
    authDomain: "mukilane.github.io",
    databaseURL: "https://mukil-elango.firebaseio.com",
    projectId: "mukil-elango",
    storageBucket: "mukil-elango.appspot.com",
    messagingSenderId: "771554923359"
  };
  firebase.initializeApp(config);
</script> -->

