<footer md-colors="{background: 'grey-200'}">

<div class="foot-left">
  <div class="md-headline">
    Mukil Elango
  </div>
  <span class="md-body-1"><a><i class="material-icons" style="font-size: 18px; vertical-align: -4px;">copyright</i>{{ site.time | date: '%Y' }}</a> | 
  	<a href="https://github.com/mukilane/mukilane.github.io/">Source</a> | 
  	<a href="https://github.com/mukilane/mukilane.github.io/blob/master/LICENSE">License</a>
  </span>
</div>

<div class="foot-right">
  	<a href="https://plus.google.com/+MukilElango">{% include icon-gplus.svg %}</a>
  	<a href="https://facebook.com/mukilane">{% include icon-facebook.svg %}</a>
  	<a href="https://twitter.com/mukilane">{% include icon-twitter.svg %}</a>
</div>
</footer>
