<footer md-colors="{background: '{* ::theme.footer *}'}" ng-cloak>
  <!-- <div class="foot-border"></div> -->
  <div class="foot-left">
    <div class="md-headline">
      Mukil Elango
    </div>
    <span class="md-body-1"><a><i class="material-icons" style="font-size: 17px; vertical-align: -3px; margin-right: 1px;">copyright</i>{{ site.time | date: '%Y' }}</a> | 
    	<a href="https://github.com/mukilane/mukilane.github.io/" target="_blank" rel="noopener">Source</a> | 
    	<a href="https://github.com/mukilane/mukilane.github.io/blob/master/LICENSE" target="_blank" rel="noopener">License</a>
    </span>
  </div>
  <div class="foot-right">
  	<a href="https://plus.google.com/+MukilElango" target="_blank" rel="noopener">{% include icon-gplus.svg %}</a>
  	<a href="https://facebook.com/mukilane" target="_blank" rel="noopener">{% include icon-facebook.svg %}</a>
  	<a href="https://twitter.com/mukilane" target="_blank" rel="noopener">{% include icon-twitter.svg %}</a>
  </div>
</footer>
