<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Origin Trial Token, feature = Web Share, origin = https://mukilane.github.io, expires = 2017-02-14 -->
  <meta http-equiv="origin-trial" data-feature="Web Share" data-expires="2017-02-14" content="AvgEqnXJJ9JuQhsXslSa28G+xZnHYbaRpi/msEfZ6M4nqo3gEvbd9D6ZGBd3BgvJ5aX23Vj3C32QX6kBsLUHzQUAAABUeyJvcmlnaW4iOiJodHRwczovL211a2lsYW5lLmdpdGh1Yi5pbzo0NDMiLCJmZWF0dXJlIjoiV2ViU2hhcmUiLCJleHBpcnkiOjE0ODcwODk1MTl9">

  <title>{% if page.title %}{{ page.title | escape }} | {{site.title}}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!--<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">-->

  <link rel="preload" href="{{ "/css/main.css" | prepend: site.baseurl }}" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"></noscript>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!--Resoure Hints-->
  <!--Preconnect with base url to reduce lookup time-->
  <link rel="preconnect" href="/">
  {% if page.title %}
  <!--Preload and Render the homepage in the background-->
  <link rel='prerender' href="/"  pr='0.9'>
  {% endif %}
  {% unless page.url == '/about/' %}
  <!--If page is not About, then load it in the background-->
  <link rel="prerender" href="/about/" pr='0.75'>
  {% endunless %}
  {% unless page.url == '/portfolio' %}
  <!--If page is not Portfolio, then load it in the background-->
  <link rel="prerender" href="/portfolio/">
  {% endunless %}
  

  <!-- Angular Material Dependencies-->
  <!--<link rel="preload" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css" as="style" onload="this.rel='stylesheet'">-->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">
  <!--Fonts - Roboto and Material Icons-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500|Material+Icons">
  <!--<link rel="preload" href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500|Material+Icons" as="style" onload="this.rel='stylesheet'">-->
  
  <!--Main Stylesheet-->
  <!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
  <!--<link rel="preload" href="/css/style.css" as="style" onload="this.rel='stylesheet'">-->
  <link rel="stylesheet" href="/css/style.css">

  <!--Web App Manifest-->
  <link rel="manifest" href="/manifest.json">

  <!--Theme Color-->
  <meta name="theme-color" content="#FAFAFA">

</head>
