<md-toolbar md-scroll-shrink md-colors="{background: 'grey-50'}" style="min-height: 64px;" >
  <div class="md-toolbar-tools" layout-align="space-between center" style="max-height: 64px !important; height: 64px !important;">
    <div onclick="pjax.invoke('/', 'main')" class="home md-title">
      {% if page.title %}
        {{site.title}}
      {% else %}{{ escape }}
      {% endif %}
    </div>
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" style="border: 0px;" hide-xs ng-cloak>
      <md-nav-item md-nav-click="" onclick="pjax.invoke('/about/', 'main')" name="About">ABOUT</md-nav-item>
      <md-nav-item md-nav-click="" onclick="pjax.invoke('/portfolio/', 'main')" name="Projects">PORTFOLIO</md-nav-item>
      <md-nav-item md-nav-click="" onclick="pjax.invoke('/contact/', 'main')" name="Contact">CONTACT</md-nav-item>
    </md-nav-bar>
    <md-menu md-position-mode="target-right target" hide-gt-xs ng-cloak>
      <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
      <i class="material-icons">more_vert</i>
      </md-button>
      <md-menu-content width="2" >
        <md-menu-item >
          <md-button onclick="pjax.invoke('/about/', 'main')">
            <div layout="row" flex>
              <p flex>About</p>
            </div>
          </md-button>
        </md-menu-item>
        <md-menu-item >
          <md-button onclick="pjax.invoke('/contact/', 'main')">
            <div layout="row" flex>
              <p flex>Contact</p>
            </div>
          </md-button>
        </md-menu-item>
        <md-menu-item >
          <md-button onclick="pjax.invoke('/portfolio/', 'main')">
            <div layout="row" flex>
              <p flex>Projects</p>
            </div>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>