<h2 class="md-headline" style="margin: 32px 0 8px 0; opacity: 0.67;">Recent Posts</h2>
  <md-grid-list md-cols='4' md-cols-xs='2' md-row-height="4:3" md-row-height-xs="1:1" md-gutter="8px">
  {% for post in site.posts limit:2 %}
 	<md-grid-tile md-rowspan="1" md-colspan="2" md-colors="{background: '{{ post.color }}'}">
 		<a onclick="pjax.invoke('{{ post.url }}', 'main')" md-ink-ripple="true" style="width: 100%; padding: 16px;">
 		<div md-colors="{background: '{{ post.color }}'}">
        <md-card-title>
          <md-card-title-text>
            <div class="md-headline">{{ post.title }}</div>
            <div class="md-subhead" style="opacity: 0.67; padding-top: 0;">{{ post.description }}</div>
          </md-card-title-text>
        </md-card-title>
      </div>
      </a>
  </md-grid-tile>
  {% endfor %} 
  </md-grid-list>