<div ng-controller="fireCtrl">
	<md-button ng-hide="showMes" ng-click="signIn()">Feedback</md-button>
	<md-content layout="column" layout-padding ng-show="showMes">
    <div>
      <md-input-container>
        <label>Name</label>
        <input ng-model="data.name">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Message</label>
        <textarea ng-model="data.message" md-maxlength="150" rows="5" md-select-on-focus></textarea>
      </md-input-container>

      <md-button ng-click="sendMsg();">SEND</md-button>
    </div>
  </md-content>
</div>