<div ng-controller="feedback" style="min-width: 360px;">
	<div layout="column" ng-hide="showMsg" ng-click="signIn()" layout-padding style="height: 200px;" md-colors="{background: 'blue-grey-800'}"> 
		<md-icon style="height: 100px; width: 100px; color: inherit;"><i class="material-icons" style="font-size: 96px;">person</i></md-icon>
		<div class="md-subhead" style="text-align: center;">Sign in as Anonymous</div>
	</div>
	<div ng-show="showMsg">
		<md-toolbar md-colors="{background: 'blue-grey-700'}">
			<div class="md-toolbar-tools" layout-align="space-between center">
				<span class="md-subhead">Feedback</span>
				<md-button class="md-icon-button" ng-click="showMsg=false"><i class="material-icons">close</i></md-button>
			</div>
		</md-toolbar>
		<md-content layout="column" md-colors="{background: 'grey-200'}" style="width: 100vw; max-width: 360px; padding: 8px;">
			<md-input-container>
				<label>Name</label>
				<input ng-model="data.name">
			</md-input-container>
			<md-input-container class="md-block">
				<label>Message</label>
				<textarea ng-model="data.message" md-maxlength="150" rows="2" md-select-on-focus></textarea>
			</md-input-container>
			<md-card-actions layout="row" layout-align="end center">
			<md-button ng-click="close()">CANCEL</md-button><md-button ng-click="sendMsg()">SEND</md-button>
			</md-card-actions>
	  	</md-content>
	</div>
</div>