---
layout: page
title: Contact
permalink: /contact/
---

<div ng-controller="ContactCtrl">
	<div layout="column" layout-gt-xs="row" layout-align="center center" md-colors="{background: 'grey-100'}" style="margin:0 0 32px 0; min-height: 400px; padding: 32px; border-radius: 16px;">
		<div flex=50 layout="row" layout-align="center center" style="min-height: 100%; overflow: hidden;">
			<img src="/assets/contact.jpg" style="max-height: 450px;">
		</div>
		<div layout="column" class="md-subhead" layout-align="flex-start stretch" flex=50 ng-hide="showForm">
			<div ng-hide="showNi || showEi">
				<div class="md-headline" style="margin-bottom: 8px;">Hi,</div>
				<p class="md-subhead"> 
					So you want to reach out to me to discuss on a possible job, a meetup, a piece of work or just wanted to say a 'Hi'. Whatever be the reason, this is the unified interface to reach out to me the quickest. Just get an identity (for blocking spams) and use the form to ping me. I'll ping you back at the earliest.
				</p>
			</div>
			<md-card-actions ng-hide="showNi || showEi">
				<md-button class="md-raised" md-colors="{background: 'blue-500'}" ng-click="showNi=true;">Create new identity</md-button>
				<md-button class="md-raised" md-colors="{background: 'blue-500'}" ng-click="showEi=true;">Use existing identity</md-button>
			</md-card-actions>
			<div ng-show="showNi" class="new-identity">
				<div class="md-headline">Create a new identity</div>
				<md-input-container>
					<label>Email</label>
					<input type="email" ng-model="data.email">
				</md-input-container>
				<md-input-container>
					<label>Password</label>
					<input type="password" ng-model="data.password">
				</md-input-container>
				<md-card-actions layout="row" layout-align="space-between center">
					<md-button class="md-raised" ng-click="showNi=false;showEi=false;">Back</md-button>
					<md-button class="md-raised" md-colors="{background: 'blue-500'}" ng-click="createUser()">Create</md-button>
				</md-card-actions>
			</div>
			<div ng-show="showEi" class="existing-identity">
				<div class="md-headline">Use an existing identity</div>
				<md-input-container>
					<label>Email</label>
					<input ng-model="data.email">
				</md-input-container>
				<md-input-container>
					<label>Password</label>
					<input type="password" ng-model="data.password">
				</md-input-container>
				<md-card-actions layout="row" layout-align="space-between center">
					<md-button class="md-raised" ng-click="showNi=false;showEi=false;">Back</md-button>
					<md-button class="md-raised" md-colors="{background: 'blue-500'}" ng-click="signIn()">Use</md-button>
				</md-card-actions>
			</div>
		</div>
		<div layout="column" layout-align="flex-start center" flex=50 ng-show="showForm">
			Signed in
			<!-- <form name="userForm">
				<md-input-container>
					<label></label>
					<input ng-model="">
				</md-input-container>
				<md-input-container>
					<label></label>
					<input ng-model="">
				</md-input-container>
			</form> -->
			
			<md-button ng-click="signout()">Sign out</md-button>
		</div>
	</div>
</div>

<div layout="column" layout-gt-xs="row" layout-align="center center">
	<div layout="column" layout-align="space-around center">
		<md-list>
			<a href="https://plus.google.com/+MukilElango" target="_blank" rel="noopener">
				<md-list-item class="md-3-line">
          			<div class="md-avatar" md-colors="{background: 'red-600'}">{% include icon-gplus.svg %}</div>
		          		<div class="md-list-item-text">
			            	<h3>Google+</h3>
			            	<p>+MukilElango</p>
		          		</div>
	        	</md-list-item>
	        </a>	
	        <a href="https://facebook.com/mukilane" target="_blank" rel="noopener">
	        	<md-list-item class="md-3-line">
          			<div class="md-avatar" md-colors="{background: 'indigo-500'}">{% include icon-facebook.svg %}</div>
		          		<div class="md-list-item-text">
			            	<h3>Facebook</h3>
			            	<p>mukilane</p>
		          		</div>
	        	</md-list-item>
	        </a>	
	        <a href="https://github.com/mukilane" target="_blank" rel="noopener">
	        	<md-list-item class="md-3-line">
          			<div class="md-avatar" md-colors="{background: 'grey-700'}">{% include icon-github.svg %}</div>
		          		<div class="md-list-item-text">
			            	<h3>Github</h3>
			            	<p>@mukilane</p>
		          		</div>
	        	</md-list-item>
	        </a>	
		</md-list>
	</div>
	<div layout="column" layout-align="space-around center">
		<md-list>
			<a href="https://twitter.com/mukilane" target="_blank" rel="noopener">
				<md-list-item class="md-3-line">
          			<div class="md-avatar" md-colors="{background: 'blue-500'}">{% include icon-twitter.svg %}</div>
		          		<div class="md-list-item-text">
			            	<h3>Twitter</h3>
			            	<p>@mukilane</p>
		          		</div>
	        	</md-list-item>
	        </a>	
	        <a href="https://linkedin.com/in/mukilane" target="_blank" rel="noopener">
	        	<md-list-item class="md-3-line">
          			<div class="md-avatar" md-colors="{background: 'indigo-700'}">{% include icon-linkedin.svg %}</div>
		          		<div class="md-list-item-text">
			            	<h3>Linkedin</h3>
			            	<p>in/mukilane</p>
		          		</div>
	        	</md-list-item>
	        </a>	
	        <a href="https://codepen.com/mukilane" target="_blank" rel="noopener">
	        	<md-list-item class="md-3-line">
          			<div class="md-avatar" md-colors="{background: 'grey-900'}">{% include icon-codepen.svg %}</div>
		          		<div class="md-list-item-text">
			            	<h3>Codepen</h3>
			            	<p>mukilane</p>
		          		</div>
	        	</md-list-item>
	        </a>	
		</md-list>
	</div>
</div>

<style type="text/css">
	.md-avatar {
		fill: white !important;
	}
	.md-list-item-text {
		margin: 12px 0 !important;
	}
	.md-list-item-text h3 {
		color: rgba(0,0,0,0.67);
		font-size: 24px !important;
	}
	.md-avatar {
		width: 48px !important;
		height: 48px !important;
	}
	a {
		text-decoration: none !important;
	}
	md-card-actions .md-raised {
		margin-top: 16px;
	}
	.md-raised {
		border-radius: 20px;
    	margin: 0 8px 0 0;
    	padding: 0 16px;
	}
	.new-identity, .existing-identity {
		padding: 16px;
    	border: 2px solid #d0d0d0;
    	border-radius: 16px;
	}
	md-input-container .md-errors-spacer {
		display: none;
	}
</style>