---
layout: default
title: Projects
permalink: /portfolio/
---
<span ng-init="currentNavItem='Portfolio'"></span>
<div ng-controller="ProjectCtrl as ctrl">
<md-grid-list md-cols="1" md-cols-sm="2" md-cols-gt-sm="6" md-cols-gt-md="8"
    md-cols-gt-lg="8" md-row-height-gt-md="3:4" md-row-height-gt-xs="3:4" md-row-height="16:9" 
    md-gutter="8px">
    {% for project in site.data.projects %}
    <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" md-rowspan-sm="1" md-rowspan-xs="1" class="image-tile" md-colors="{background: '{{project.color}}'}" md-ink-ripple="true" ng-click="ctrl.show('{{project.page_name}}')">
        <tile-header tag="{{project.short_description}}">
            {{project.title}}
        </tile-header>
        <tile-footer>{{project.languages[0]}}</tile-footer>
    </md-grid-tile>
    {% endfor%}
</md-grid-list>
</div>