<!DOCTYPE html>
<html ng-app="port">

  {% include head.html %}

  <body ng-controller="main" layout="column" id="ctrl">

    {% include header.html %}
    <md-content id="main">
      {% if page.category %}
      <div class="banner md-display-3" {% if page.color %} 
      md-colors="{background: '{{page.color}}'}" {% endif %}>
        {{ page.title }}
        {% if page.description %}<div class="adj md-display-1">{{ page.description }}</div>{% endif %}
      </div>
      {% else %}
      <div class="banner md-display-4" {% if page.color %} 
      md-colors="{background: '{{page.color}}'}" {% endif %} >
        {% if page.title %}
        {{ page.title | escape }}
        {% else %}
        {{ site.title | escape }}
        <div class="adj">
          <div class="scrolldef md-display-2" ng-animate-swap="counter" ng-bind="adjective[counter]">
          </div>
        </div>
        {% endif %}
      </div>
      {% endif %}
      <main id='content' ng-cloak>
        {{content}}
      </main>
      {% include footer.html %}
    </md-content>
    
    <!--PJAX Standalone-->
    <script src="/scripts/pjax-standalone.min.js"></script>
    <script type="text/javascript">
      document.getElementById("main").addEventListener('beforeSend', function(event) {
        angular.element(document.getElementById('ctrl')).scope().trust(event.data.url);
        var toAnim = angular.element(document.getElementById('content'));
        toAnim.removeClass('fade-up');
        toAnim.addClass('fade-down');
      }, false);
      document.getElementById("main").addEventListener('success', function(event){ 
        angular.element(document.getElementById('ctrl')).scope().refresh();
        var toAnim = angular.element(document.getElementById('content'));
        toAnim.removeClass('fade-down');
        toAnim.addClass('fade-up');
      }, false);
      document.getElementById("main").addEventListener('error', function(event) {
        pjax.invoke('/404/', 'main'); 
      }, false);
    </script> 

    <!-- Angular Dependencies-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>

    <!-- Angular Material Dependencies-->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>

    <script src="/scripts/main.js"></script>

    {% include google-analytics.html %}
  </body>

</html>
