<!DOCTYPE html>
<html ng-app="port">

  {% include head.html %}

  <body ng-controller="main" layout="column" ng-cloak id="ctrl">

    {% include header.html %}
    <md-content id="main">
      <div class="banner md-display-4">
        {% if page.title %}
        {{ page.title | escape }}
        {% else %}
        {{ site.title | escape }}
        <div class="adj">
          <div class="scrolldef md-display-2" ng-animate-swap="counter" ng-bind="adjective[counter]">
          </div>
        </div>
        {% endif %}
      </div>
      <main>
        {{content}}
      </main>
      {% include footer.html %}
    </md-content>
    
    <!--PJAX Standalone-->
    <script src="/scripts/pjax-standalone.min.js"></script>
    <script type="text/javascript">
       document.getElementById("main").addEventListener('complete', function(event){ 
          angular.element(document.getElementById('ctrl')).scope().refresh();
        }, false);
       document.getElementById("main").addEventListener('beforeSend', function(event) {
          angular.element(document.getElementById('ctrl')).scope().trust(event.data.url);
       }, false);
    </script> 

    <!-- Angular Dependencies-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>

    <!-- Angular Material Dependencies-->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>

    <script src="/scripts/main.js"></script>
  </body>

</html>
