<div class="modal" layout="column">
	<md-toolbar md-colors="{background: 'grey-A100'}">
		<div class="md-toolbar-tools" layout="column" layout-align="center stretch"  style="max-height: 64px !important; height: 64px !important;">
			<div layout="row" layout-align="space-between center">
				<md-button class="md-icon-button" ng-click="ctrl.close()">
			        <md-tooltip >Back</md-tooltip>
					<i class="material-icons">arrow_back</i>
			    </md-button>
			    <md-button class="md-primary md-raised" href="{{page.dest}}" target="_blank" rel="noopener" style="border-radius: 25px;">
					OPEN
				</md-button>
			</div>
		</div>
	</md-toolbar>
	<md-content md-colors="{background: 'grey-A100'}" layout="column" layout-gt-sm="row" layout-align="start stretch">
		<div flex-gt-sm="40" flex="100" layout-padding>
			<div class="md-display-2 modal-title" >
				{{ page.title }}
			</div>
			<div layout-padding class="md-subhead">
				<p>{{page.description}}</p>
				<p><strong>Built With:</strong></p>
				<ol>
					{% for item in page.languages %}<li>{{item}}</li>{% endfor %}
				</ol>
				<p><strong>Features:</strong></p>
				<ol>
					{% for item in page.features %}
					<li>{{item}}</li>
					{% endfor %}
				</ol>
			</div>
		</div>
		<div flex-gt-sm="60" flex="100" layout-padding>
			<div class="modal-image">
			</div>
		</div>
	</md-content>
</div>

<script type="text/javascript">
	ga('set', 'page', '{{ page.url }}');
	ga('send', 'pageview');
</script>
<style>
.modal-container {
	height: 100%;
	width: 100%;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal {
	height: 100%;
	max-width: 100%;
	width: 100%;
}
.modal-image {
	margin-top: 24px;
	min-height: 500px;
	background-image: url('{{ page.image }}');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 0%;
}
.modal-title {
	font-family: 'Product Sans', 'RobotoDraft', sans-serif;
	padding: 24px 16px 8px 16px;
}
.modal md-content {
	height: 100%;
    overflow-y: auto;
    padding: 0 8px;
}
</style>