<div class="modal" layout="column">
	<div class="modal-image">
		<md-button class="md-icon-button modal-close" ng-click="ctrl.closePanel()" md-colors="{color: 'grey-50'}"><i class="material-icons">close</i></md-button>
		<md-button class="md-fab modal-fab" href="{{page.dest}}" target="_blank" rel="noopener" md-colors="{background: 'grey-50'}"><md-tooltip>Launch</md-tooltip><i class="material-icons">launch</i></md-button>
		
	</div>
	<div class="modal-body" layout='column'>
		<div class="md-display-1 modal-title" layout-padding md-colors="{background: 'blue-grey-600'}">{{ page.title }}</div>
		<!--<div layout='row' class="md-subhead modal-des" md-colors="{background: 'blue-grey-100'}" layout-padding>
		</div>-->
		<md-content layout-padding style="height: 200px" class="md-subhead">{{ page.content }}</md-content>
	</div>
</div>
<script type="text/javascript">
	ga('set', 'page', '{{ page.url }}');
	ga('send', 'pageview');
</script>
<style>
.modal-container {
	height: 100%;
	width: 100%;
	max-width: 640px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal {
	max-width: 640px;
	width: 100%;
}
.modal-image {
	height: 60vw;
	max-height: 360px;
	position: relative;
	background-image: url('{{ page.image }}');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #BBDEFB;
	background-position: 50% 50%;
}
.modal-title {
	padding: 24px 16px;
}
.modal-des {
	min-height: 56px;
	padding: 16px;
}
.modal-des:before {
	content: "Built with:";
}
.modal md-content {
	height: 200px;
}
.modal-fab {
    position: absolute;
    line-height: 68px !important;
    bottom: 0;
    margin-bottom: -28px;
    right: 4%;
}
.modal-close {
	top: 8px;
	left: 2px;
}
.modal-body {
    overflow-y: auto;
    display: block;
}
</style>