/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Variables */
:root {
  --background-color: #000000;
  --body-padding: 4rem;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--background-color);
  scroll-behavior: smooth;
  /* background-image: radial-gradient(circle at 1px 1px, #262626 2px, transparent 0);
  background-size: 2em 2em;
  background-position: calc(-1em + 2px) calc(-1em + 2px);
  background-attachment: fixed; */
}

.material-symbols-outlined {
  vertical-align: middle;
}

.app-container {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scroll-snap-type: both proximity;
  scroll-behavior: smooth;

  scroll-timeline: --bodyTimeline y;
  scroll-timeline: --bodyTimeline vertical;

}

main {
  flex: 1;
  position: relative;
}

.section {
  /* height: 100vh; */
  margin-bottom: var(--body-padding);
  padding: var(--body-padding);
  scroll-snap-align: start;
}

.hero {
  font-size: 64px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  font-family: 'League Gothic', sans-serif;
  text-transform: uppercase;
  line-height: 6rem;
  height: 100dvh;
}

.hero div {
  line-height: 1;
  opacity: 0.87;
}

.hero .name {
  margin: 8px 0;
  font-size: 8rem;
  opacity: 1;
}


@media (max-width: 500px) {
  :root {
    --body-padding: 2rem;
  }

  .hero {
    align-items: center;
    text-align: center;
  }
}

.page-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header {
  padding: 2rem;
  font-size: 6rem;
  display: flex;
  width: 100vw;
  background: #2c2c2c;
  margin: -2rem -2rem 0 -2rem;
}

/* Fake cursor */
.cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  mix-blend-mode: difference;
  background-color: white;
  pointer-events: none;
  transition: 0.2s ease-in;
  transition-property: width, height, top, left;
  transform-origin: center center;
}

#herocanvas {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  display: none;
}

#test {
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.bg-grid {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.bg-grid-item {
  background-color: #222;
  color: #fff;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  aspect-ratio: 1 / 1;
  transition: 0.2s ease-in-out;
  transition-delay: 0.3s;
}

.bg-grid-item:hover {
  background-color: rgb(123, 123, 123);
  transition-delay: 0s;
}

@keyframes breath {
  from {
    animation-timing-function: ease-out;
  }
  to {
    transform: translateY(-4px) scale(1.1);
    text-shadow: 0 0 25px var(--glow-color);
    animation-timing-function: ease-out;
  }
}

.name span {
  --glow-color: rgb(52 52 52);
  display: inline-block;
  white-space: break-spaces;
  transform: translateY(0) scale(1);
  animation: breath 1000ms ease calc(var(--index) * 200 * 1ms);
  animation-direction: reverse;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

.name:hover span {
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* -------------------------------- Hero Card ------------------------------- */
.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  border-radius: 1em;
  width: 100%;
  transition: 0.2s ease-in-out;
  transition-delay: 0.3s;
  width: 100%;
  /* height: 100%; */
}

.card-header {
  font-size: 10rem;
  font-weight: bold;
  font-family: 'Bebas Neue', sans-serif;
  position: sticky;
  margin-top: 1em;
  color: transparent;
  -webkit-text-stroke: 2px white;
  letter-spacing: 5px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  top: 1em;
}

.card-header:before {
  position: absolute;
  content: attr(data-section);
  left: 0;
  top: 0;
  overflow: hidden;
  height: 0;
  animation-name: fill-up;
  animation-timeline: --reveal;
  view-timeline: --reveal block;
  animation-fill-mode: both;
  color: white;
}

.card-body {
  font-size: 2rem;
  flex: 1;
  text-align: left;
  padding: 6em;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.about-para {
  flex-grow: 1;
}

.about-para span {
  position: sticky;
  top: 4em;
}

@keyframes fill-up {
  0% {
    height: 0;
  }

  10% {
    height: 5%;
  }

  /* 55% {
    height: 100%;
  } */

  80% {
    height: 100%;
  }

  100% {
    height: 100%;
  }
}