---
layout: page
permalink: /articles/100-days-of-code/
title: 100 Days Of Code
type: article
---

<div layout='row' ng-controller="HdocCtrl">
    <div class="chooser" flex="40">
        <md-calendar ng-model="HdocCtrl.myDate" md-min-date="HdocCtrl.minDate" md-max-date="HdocCtrl.maxDate"></md-calendar>
    </div>
    <div class="log" flex="60">
    <md-list flex>
        {% for codeday in site.data.daysofcode %}
        <md-list-item class="md-3-line">
            <div class="md-avatar">
                <span class="date">{{ codeday.displayDay }}</span>
                <span class="month">{{ codeday.displayMonth }}</span>
            </div>
            <div class="md-list-item-text" layout="column">
                <md-card md-colors="{background: '{{ codeday.color }}'}">
                    <md-card-title class="md-title">{{ codeday.title }}</md-card-title>
                    <md-card-content>
                        <div><span style="font-weight: 500">Progress: </span>{{codeday.progress}}</div>
                        <div><span style="font-weight: 500">Thoughts: </span>{{codeday.thoughts}}</div>
                    </md-card-content>
                </md-card>
            </div>
        </md-list-item>
        {% endfor %}
    </md-list>
    </div>
</div>

<style>
    .md-avatar {
        line-height: 1.5em;
        text-align: center;
        margin-top: 24px !important;
    }
    .date {
        font-size: 32px;
        font-weight: 500;
    }
    .month {
        opacity: 0.87;
        font-size: 20px;
    }
    .md-list-item-text {
        margin-left: 50px;
    }
    .article {
        width: 100%;
        max-width: 100%;
    }
    md-card-title {
        padding: 16px !important;
    }
    .log {
        max-height: 600px;
        overflow-y: auto;
    }
</style>